body {
    font-family: "Apple Braille";
}

#product-overview {
    background: #ff1b68;
}

.first-section-title {

}

.section-title {
    color: #2ddf5c;
    font-family: inherit;
}

h1 {
    color: white;
    font-family: 'Apple Braille', sans-serif;
}

#product-overview {
    background: black;
}

#product-overview h1 {
    color: white;
    font-family: sans-serif;
}
